<div class="container py-5">
    <div class="row">
        <h1>Comprar</h1>
    </div>
    <div class="row py-5">
        <h2>Informações do comprador</h2>
        <div class="col">
            <p>Nome completo</p>
            <input type="text" name="" id="nome" placeholder="Informe seu nome completo">
        </div>
        <div class="col">
            <p>CPF</p>
            <input type="number" name="" id="cpf" placeholder="Informe seu CPF">
        </div>
    </div>
    <div class="row py-5">
        <h2>Endereço</h2>
        <div class="col">
            <p>Rua</p>
            <input type="text" name="" id="nome" placeholder="Nome da sua rua">
        </div>
        <div class="col">
            <p>Bairro</p>
            <input type="text" name="" id="nome" placeholder="Nome do seu bairro">
        </div>
        <div class="col">
            <p>Número da casa</p>
            <input type="number" name="" id="nome" placeholder="Informe o número da sua casa">
        </div>
        <div class="col">
            <p>Complemento</p>
            <input type="text" name="" id="nome" placeholder="Casa, apartamento, etc.">
        </div>
    </div>
</div>